<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public.kern1.A</key>
	<array>
		<string>A</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Aring</string>
		<string>Amacron</string>
		<string>Abreve</string>
		<string>Aogonek</string>
		<string>Adotbelow</string>
		<string>Ahook</string>
		<string>Acircumflexacute</string>
		<string>Acircumflexgrave</string>
		<string>Acircumflexhook</string>
		<string>Acircumflextilde</string>
		<string>Acircumflexdot</string>
		<string>Abreveacute</string>
		<string>Abrevegrave</string>
		<string>Abrevehook</string>
		<string>Abrevetilde</string>
		<string>Abrevedot</string>
		<string>Delta</string>
	</array>
	<key>public.kern1.C</key>
	<array>
		<string>C</string>
		<string>Ccedilla</string>
		<string>Cacute</string>
		<string>Ccaron</string>
	</array>
	<key>public.kern1.C.rect</key>
	<array>
		<string>C.RECT</string>
		<string>Ccedilla.RECT</string>
	</array>
	<key>public.kern1.E</key>
	<array>
		<string>E</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Emacron</string>
		<string>Ebreve</string>
		<string>Edotaccent</string>
		<string>Eogonek</string>
		<string>Ecaron</string>
		<string>Edotbelow</string>
		<string>Ehook</string>
		<string>Etilde</string>
		<string>Ecircumflexacute</string>
		<string>Ecircumflexgrave</string>
		<string>Ecircumflexhook</string>
		<string>Ecircumflextilde</string>
		<string>Ecircumflexdot</string>
		<string>AE</string>
		<string>OE</string>
		<string>E.RECT</string>
		<string>Egrave.RECT</string>
		<string>Eacute.RECT</string>
		<string>Ecircumflex.RECT</string>
		<string>Edieresis.RECT</string>
		<string>Emacron.RECT</string>
		<string>Ebreve.RECT</string>
		<string>Edotaccent.RECT</string>
		<string>Eogonek.RECT</string>
		<string>Edotbelow.RECT</string>
		<string>Ehook.RECT</string>
		<string>Etilde.RECT</string>
		<string>Ecircumflexacute.RECT</string>
		<string>Ecircumflexgrave.RECT</string>
		<string>Ecircumflexhook.RECT</string>
		<string>Ecircumflextilde.RECT</string>
		<string>Ecircumflexdot.RECT</string>
		<string>OE.RECT</string>
	</array>
	<key>public.kern1.G</key>
	<array>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcedilla</string>
	</array>
	<key>public.kern1.Germandbls</key>
	<array>
		<string>B</string>
		<string>Germandbls</string>
		<string>B.RECT</string>
		<string>Germandbls.RECT</string>
	</array>
	<key>public.kern1.H</key>
	<array>
		<string>H</string>
		<string>I</string>
		<string>Igrave</string>
		<string>Iacute</string>
		<string>Iogonek</string>
		<string>Idotaccent</string>
		<string>Ihook</string>
		<string>Idotbelow</string>
		<string>M</string>
		<string>N</string>
		<string>Ntilde</string>
		<string>Nacute</string>
		<string>Ncedilla</string>
		<string>Ncaron</string>
		<string>d</string>
		<string>i</string>
		<string>igrave</string>
		<string>idotbelow</string>
		<string>one</string>
		<string>M.RECT</string>
		<string>l.text</string>
		<string>lacute.text</string>
		<string>lcedilla.text</string>
		<string>j.ultra</string>
		<string>ij.ultra</string>
		<string>l.ultra</string>
	</array>
	<key>public.kern1.I.text</key>
	<array>
		<string>I.text</string>
		<string>Igrave.text</string>
		<string>Iacute.text</string>
		<string>Icircumflex.text</string>
		<string>Idieresis.text</string>
		<string>Itilde.text</string>
		<string>Imacron.text</string>
		<string>Ibreve.text</string>
		<string>Iogonek.text</string>
		<string>Idotaccent.text</string>
		<string>Ihook.text</string>
		<string>Idotbelow.text</string>
	</array>
	<key>public.kern1.Itop</key>
	<array>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Itilde</string>
		<string>Imacron</string>
		<string>Ibreve</string>
	</array>
	<key>public.kern1.K</key>
	<array>
		<string>K</string>
		<string>Kcedilla</string>
	</array>
	<key>public.kern1.L</key>
	<array>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcedilla</string>
		<string>Lslash</string>
	</array>
	<key>public.kern1.O</key>
	<array>
		<string>D</string>
		<string>Dcaron</string>
		<string>O</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>Omacron</string>
		<string>Obreve</string>
		<string>Ohungarumlaut</string>
		<string>Odotbelow</string>
		<string>Ohook</string>
		<string>Ocircumflexacute</string>
		<string>Ocircumflexgrave</string>
		<string>Ocircumflexhook</string>
		<string>Ocircumflextilde</string>
		<string>Ocircumflexdot</string>
		<string>Eth</string>
		<string>Oslash</string>
		<string>Oslashacute</string>
		<string>Dcroat</string>
		<string>Odieresis.titl</string>
		<string>Oslash.open</string>
		<string>Oslashacute.open</string>
	</array>
	<key>public.kern1.O.RECT</key>
	<array>
		<string>D.RECT</string>
		<string>G.RECT</string>
		<string>Gcedilla.RECT</string>
		<string>O.RECT</string>
		<string>Ograve.RECT</string>
		<string>Oacute.RECT</string>
		<string>Ocircumflex.RECT</string>
		<string>Otilde.RECT</string>
		<string>Odieresis.RECT</string>
		<string>Omacron.RECT</string>
		<string>Obreve.RECT</string>
		<string>Odotbelow.RECT</string>
		<string>Ohook.RECT</string>
		<string>Ocircumflexacute.RECT</string>
		<string>Ocircumflexgrave.RECT</string>
		<string>Ocircumflexhook.RECT</string>
		<string>Ocircumflextilde.RECT</string>
		<string>Ocircumflexdot.RECT</string>
		<string>Eth.RECT</string>
		<string>Oslash.RECT</string>
		<string>Oslashacute.RECT</string>
		<string>Dcroat.RECT</string>
		<string>Oslash.RECT_open</string>
		<string>Oslashacute.RECT_open</string>
		<string>Odieresis.RECT_titl</string>
	</array>
	<key>public.kern1.Ohorn</key>
	<array>
		<string>Ohorn</string>
		<string>Ohornacute</string>
		<string>Ohorngrave</string>
		<string>Ohornhook</string>
		<string>Ohorntilde</string>
		<string>Ohorndot</string>
		<string>Ohorn.flat</string>
	</array>
	<key>public.kern1.Ohorn.RECT</key>
	<array>
		<string>Ohorn.RECT</string>
		<string>Ohornacute.RECT</string>
		<string>Ohorngrave.RECT</string>
		<string>Ohornhook.RECT</string>
		<string>Ohorntilde.RECT</string>
		<string>Ohorndot.RECT</string>
	</array>
	<key>public.kern1.Q</key>
	<array>
		<string>Q</string>
		<string>Q.open</string>
	</array>
	<key>public.kern1.Q.RECT</key>
	<array>
		<string>Q.RECT</string>
		<string>Q.RECT_open</string>
	</array>
	<key>public.kern1.R</key>
	<array>
		<string>R</string>
		<string>Racute</string>
		<string>Rcedilla</string>
		<string>Rcaron</string>
	</array>
	<key>public.kern1.R.RECT</key>
	<array>
		<string>R.RECT</string>
		<string>Racute.RECT</string>
		<string>Rcedilla.RECT</string>
		<string>Rcaron.RECT</string>
	</array>
	<key>public.kern1.R.text</key>
	<array>
		<string>R.text</string>
		<string>Racute.text</string>
		<string>Rcedilla.text</string>
		<string>Rcaron.text</string>
	</array>
	<key>public.kern1.S</key>
	<array>
		<string>S</string>
		<string>Sacute</string>
		<string>Scedilla</string>
		<string>Scaron</string>
		<string>dollar</string>
		<string>dollar.open</string>
	</array>
	<key>public.kern1.T</key>
	<array>
		<string>T</string>
		<string>Tcaron</string>
	</array>
	<key>public.kern1.U</key>
	<array>
		<string>J</string>
		<string>U</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Utilde</string>
		<string>Umacron</string>
		<string>Ubreve</string>
		<string>Uring</string>
		<string>Uhungarumlaut</string>
		<string>Uogonek</string>
		<string>Ucaron</string>
		<string>Udotbelow</string>
		<string>Uhook</string>
		<string>IJ</string>
		<string>Udieresis.titl</string>
	</array>
	<key>public.kern1.U.text</key>
	<array>
		<string>U.RECT</string>
		<string>Ugrave.RECT</string>
		<string>Uacute.RECT</string>
		<string>Ucircumflex.RECT</string>
		<string>Udieresis.RECT</string>
		<string>Utilde.RECT</string>
		<string>Umacron.RECT</string>
		<string>Ubreve.RECT</string>
		<string>Uogonek.RECT</string>
		<string>Uhorn.RECT</string>
		<string>Udotbelow.RECT</string>
		<string>Uhook.RECT</string>
		<string>Uhornacute.RECT</string>
		<string>Uhorngrave.RECT</string>
		<string>Uhornhook.RECT</string>
		<string>Uhorntilde.RECT</string>
		<string>Uhorndot.RECT</string>
		<string>Udieresis.RECT_titl</string>
	</array>
	<key>public.kern1.Uhorn</key>
	<array>
		<string>Uhorn</string>
		<string>Uhornacute</string>
		<string>Uhorngrave</string>
		<string>Uhornhook</string>
		<string>Uhorntilde</string>
		<string>Uhorndot</string>
	</array>
	<key>public.kern1.W</key>
	<array>
		<string>W</string>
	</array>
	<key>public.kern1.W.rect</key>
	<array>
		<string>W.RECT</string>
	</array>
	<key>public.kern1.X</key>
	<array>
		<string>X</string>
	</array>
	<key>public.kern1.Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
		<string>Ydotbelow</string>
		<string>Yhookabove</string>
		<string>Ytilde</string>
	</array>
	<key>public.kern1.Z</key>
	<array>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zdotaccent</string>
		<string>Zcaron</string>
	</array>
	<key>public.kern1.a</key>
	<array>
		<string>a</string>
		<string>agrave</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>atilde</string>
		<string>adieresis</string>
		<string>aring</string>
		<string>amacron</string>
		<string>abreve</string>
		<string>aogonek</string>
		<string>adotbelow</string>
		<string>ahook</string>
		<string>acircumflexacute</string>
		<string>acircumflexgrave</string>
		<string>acircumflexhook</string>
		<string>acircumflextilde</string>
		<string>acircumflexdot</string>
		<string>abreveacute</string>
		<string>abrevegrave</string>
		<string>abrevehook</string>
		<string>abrevetilde</string>
		<string>abrevedot</string>
	</array>
	<key>public.kern1.braceleft</key>
	<array>
		<string>parenleft</string>
		<string>bracketleft</string>
		<string>braceleft</string>
	</array>
	<key>public.kern1.c</key>
	<array>
		<string>c</string>
		<string>ccedilla</string>
		<string>cacute</string>
		<string>ccaron</string>
	</array>
	<key>public.kern1.eight</key>
	<array>
		<string>three</string>
		<string>eight</string>
	</array>
	<key>public.kern1.g.text</key>
	<array>
		<string>g.text</string>
		<string>gbreve.text</string>
		<string>gcedilla.text</string>
	</array>
	<key>public.kern1.guillemetleft</key>
	<array>
		<string>guilsinglleft</string>
		<string>guillemetleft</string>
	</array>
	<key>public.kern1.guillemetright</key>
	<array>
		<string>guilsinglright</string>
		<string>guillemetright</string>
	</array>
	<key>public.kern1.hyphen</key>
	<array>
		<string>hyphen</string>
		<string>hyphenproper</string>
		<string>endash</string>
		<string>emdash</string>
		<string>plus</string>
		<string>minus</string>
		<string>uni2010</string>
	</array>
	<key>public.kern1.itop</key>
	<array>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>itilde</string>
		<string>imacron</string>
		<string>ibreve</string>
		<string>ihook</string>
	</array>
	<key>public.kern1.j</key>
	<array>
		<string>j</string>
		<string>ij</string>
		<string>jdotless</string>
	</array>
	<key>public.kern1.k</key>
	<array>
		<string>k</string>
		<string>kcedilla</string>
		<string>x</string>
	</array>
	<key>public.kern1.lhook</key>
	<array>
		<string>l</string>
		<string>lacute</string>
		<string>lcedilla</string>
		<string>lcaron</string>
	</array>
	<key>public.kern1.n</key>
	<array>
		<string>h</string>
		<string>m</string>
		<string>n</string>
		<string>ntilde</string>
		<string>nacute</string>
		<string>ncedilla</string>
		<string>ncaron</string>
	</array>
	<key>public.kern1.o</key>
	<array>
		<string>b</string>
		<string>e</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>emacron</string>
		<string>ebreve</string>
		<string>edotaccent</string>
		<string>eogonek</string>
		<string>ecaron</string>
		<string>edotbelow</string>
		<string>ehook</string>
		<string>etilde</string>
		<string>ecircumflexacute</string>
		<string>ecircumflexgrave</string>
		<string>ecircumflexhook</string>
		<string>ecircumflextilde</string>
		<string>ecircumflexdot</string>
		<string>o</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>omacron</string>
		<string>obreve</string>
		<string>ohungarumlaut</string>
		<string>odotbelow</string>
		<string>ohook</string>
		<string>ocircumflexacute</string>
		<string>ocircumflexgrave</string>
		<string>ocircumflexhook</string>
		<string>ocircumflextilde</string>
		<string>ocircumflexdot</string>
		<string>p</string>
		<string>ae</string>
		<string>eth</string>
		<string>oslash</string>
		<string>oslashacute</string>
		<string>thorn</string>
		<string>oe</string>
		<string>oslash.open</string>
		<string>oslashacute.open</string>
	</array>
	<key>public.kern1.ohorn</key>
	<array>
		<string>ohorn</string>
		<string>ohornacute</string>
		<string>ohorngrave</string>
		<string>ohornhook</string>
		<string>ohorntilde</string>
		<string>ohorndot</string>
		<string>ohorn.flat</string>
	</array>
	<key>public.kern1.ordinal</key>
	<array>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>ND.ord</string>
		<string>RD.ord</string>
		<string>ST.ord</string>
		<string>TH.ord</string>
	</array>
	<key>public.kern1.period</key>
	<array>
		<string>period</string>
		<string>comma</string>
		<string>ellipsis</string>
	</array>
	<key>public.kern1.q</key>
	<array>
		<string>g</string>
		<string>gbreve</string>
		<string>gcedilla</string>
		<string>q</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>exclamdown</string>
	</array>
	<key>public.kern1.quoteleft</key>
	<array>
		<string>quoteleft</string>
		<string>quotedblleft</string>
	</array>
	<key>public.kern1.quoteright</key>
	<array>
		<string>quoteright</string>
		<string>quotedblright</string>
	</array>
	<key>public.kern1.quotesingle</key>
	<array>
		<string>quotesingle</string>
		<string>quotedbl</string>
		<string>minute</string>
		<string>second</string>
	</array>
	<key>public.kern1.r</key>
	<array>
		<string>r</string>
		<string>racute</string>
		<string>rcedilla</string>
		<string>rcaron</string>
		<string>r.calt</string>
	</array>
	<key>public.kern1.s</key>
	<array>
		<string>s</string>
		<string>sacute</string>
		<string>scedilla</string>
		<string>scaron</string>
	</array>
	<key>public.kern1.t</key>
	<array>
		<string>t</string>
		<string>tcaron</string>
	</array>
	<key>public.kern1.u</key>
	<array>
		<string>u</string>
		<string>ugrave</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>utilde</string>
		<string>umacron</string>
		<string>ubreve</string>
		<string>uring</string>
		<string>uhungarumlaut</string>
		<string>uogonek</string>
		<string>ucaron</string>
		<string>udotbelow</string>
		<string>uhook</string>
		<string>a.italic</string>
		<string>agrave.italic</string>
		<string>aacute.italic</string>
		<string>acircumflex.italic</string>
		<string>atilde.italic</string>
		<string>adieresis.italic</string>
		<string>aring.italic</string>
		<string>amacron.italic</string>
		<string>abreve.italic</string>
		<string>aogonek.italic</string>
		<string>adotbelow.italic</string>
		<string>ahook.italic</string>
		<string>acircumflexacute.italic</string>
		<string>acircumflexgrave.italic</string>
		<string>acircumflexhook.italic</string>
		<string>acircumflextilde.italic</string>
		<string>acircumflexdot.italic</string>
		<string>abreveacute.italic</string>
		<string>abrevegrave.italic</string>
		<string>abrevehook.italic</string>
		<string>abrevetilde.italic</string>
		<string>abrevedot.italic</string>
		<string>jdotless.ultra</string>
	</array>
	<key>public.kern1.uhorn</key>
	<array>
		<string>uhorn</string>
		<string>uhornacute</string>
		<string>uhorngrave</string>
		<string>uhornhook</string>
		<string>uhorntilde</string>
		<string>uhorndot</string>
	</array>
	<key>public.kern1.v</key>
	<array>
		<string>v</string>
		<string>w</string>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
		<string>ygrave</string>
		<string>ydotbelow</string>
		<string>yhookabove</string>
		<string>ytilde</string>
		<string>y.ultra</string>
	</array>
	<key>public.kern1.z</key>
	<array>
		<string>z</string>
		<string>zacute</string>
		<string>zdotaccent</string>
		<string>zcaron</string>
		<string>germandbls.alt</string>
	</array>
	<key>public.kern1.zero</key>
	<array>
		<string>zero</string>
		<string>nine</string>
	</array>
	<key>public.kern2.A</key>
	<array>
		<string>A</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Aring</string>
		<string>Amacron</string>
		<string>Abreve</string>
		<string>Aogonek</string>
		<string>Adotbelow</string>
		<string>Ahook</string>
		<string>Acircumflexacute</string>
		<string>Acircumflexgrave</string>
		<string>Acircumflexhook</string>
		<string>Acircumflextilde</string>
		<string>Acircumflexdot</string>
		<string>Abreveacute</string>
		<string>Abrevegrave</string>
		<string>Abrevehook</string>
		<string>Abrevetilde</string>
		<string>Abrevedot</string>
		<string>AE</string>
		<string>Delta</string>
	</array>
	<key>public.kern2.Dcroat</key>
	<array>
		<string>Dcroat</string>
		<string>Eth.RECT</string>
		<string>Dcroat.RECT</string>
	</array>
	<key>public.kern2.Germandbls</key>
	<array>
		<string>Germandbls</string>
		<string>germandbls</string>
		<string>Germandbls.RECT</string>
	</array>
	<key>public.kern2.H</key>
	<array>
		<string>B</string>
		<string>D</string>
		<string>Dcaron</string>
		<string>E</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Emacron</string>
		<string>Ebreve</string>
		<string>Edotaccent</string>
		<string>Eogonek</string>
		<string>Ecaron</string>
		<string>Edotbelow</string>
		<string>Ehook</string>
		<string>Etilde</string>
		<string>Ecircumflexacute</string>
		<string>Ecircumflexgrave</string>
		<string>Ecircumflexhook</string>
		<string>Ecircumflextilde</string>
		<string>Ecircumflexdot</string>
		<string>F</string>
		<string>H</string>
		<string>I</string>
		<string>Igrave</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Imacron</string>
		<string>Ibreve</string>
		<string>Iogonek</string>
		<string>Idotaccent</string>
		<string>Ihook</string>
		<string>Idotbelow</string>
		<string>K</string>
		<string>Kcedilla</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcedilla</string>
		<string>Lcaron</string>
		<string>M</string>
		<string>N</string>
		<string>Ntilde</string>
		<string>Nacute</string>
		<string>Ncedilla</string>
		<string>Ncaron</string>
		<string>P</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcedilla</string>
		<string>Rcaron</string>
		<string>Thorn</string>
		<string>b</string>
		<string>h</string>
		<string>i</string>
		<string>iacute</string>
		<string>idotbelow</string>
		<string>k</string>
		<string>kcedilla</string>
		<string>thorn</string>
		<string>ij</string>
		<string>numero</string>
		<string>B.RECT</string>
		<string>D.RECT</string>
		<string>E.RECT</string>
		<string>Egrave.RECT</string>
		<string>Eacute.RECT</string>
		<string>Ecircumflex.RECT</string>
		<string>Edieresis.RECT</string>
		<string>Emacron.RECT</string>
		<string>Ebreve.RECT</string>
		<string>Edotaccent.RECT</string>
		<string>Eogonek.RECT</string>
		<string>Edotbelow.RECT</string>
		<string>Ehook.RECT</string>
		<string>Etilde.RECT</string>
		<string>Ecircumflexacute.RECT</string>
		<string>Ecircumflexgrave.RECT</string>
		<string>Ecircumflexhook.RECT</string>
		<string>Ecircumflextilde.RECT</string>
		<string>Ecircumflexdot.RECT</string>
		<string>M.RECT</string>
		<string>P.RECT</string>
		<string>R.RECT</string>
		<string>Racute.RECT</string>
		<string>Rcedilla.RECT</string>
		<string>Rcaron.RECT</string>
		<string>R.text</string>
		<string>Racute.text</string>
		<string>Rcedilla.text</string>
		<string>Rcaron.text</string>
		<string>l.text</string>
		<string>lacute.text</string>
		<string>lcedilla.text</string>
		<string>lcaron.text</string>
		<string>j.ultra</string>
		<string>ij.ultra</string>
		<string>l.ultra</string>
	</array>
	<key>public.kern2.I.text</key>
	<array>
		<string>I.text</string>
		<string>Igrave.text</string>
		<string>Iacute.text</string>
		<string>Icircumflex.text</string>
		<string>Idieresis.text</string>
		<string>Itilde.text</string>
		<string>Imacron.text</string>
		<string>Ibreve.text</string>
		<string>Iogonek.text</string>
		<string>Idotaccent.text</string>
		<string>Ihook.text</string>
		<string>Idotbelow.text</string>
	</array>
	<key>public.kern2.Itop</key>
	<array>
		<string>Itilde</string>
	</array>
	<key>public.kern2.O</key>
	<array>
		<string>C</string>
		<string>Ccedilla</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcedilla</string>
		<string>O</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>Omacron</string>
		<string>Obreve</string>
		<string>Ohungarumlaut</string>
		<string>Ohorn</string>
		<string>Odotbelow</string>
		<string>Ohook</string>
		<string>Ocircumflexacute</string>
		<string>Ocircumflexgrave</string>
		<string>Ocircumflexhook</string>
		<string>Ocircumflextilde</string>
		<string>Ocircumflexdot</string>
		<string>Ohornacute</string>
		<string>Ohorngrave</string>
		<string>Ohornhook</string>
		<string>Ohorntilde</string>
		<string>Ohorndot</string>
		<string>Q</string>
		<string>Oslash</string>
		<string>Oslashacute</string>
		<string>OE</string>
		<string>Odieresis.titl</string>
		<string>Q.open</string>
		<string>Oslash.open</string>
		<string>Oslashacute.open</string>
		<string>Ohorn.flat</string>
	</array>
	<key>public.kern2.O.RECT</key>
	<array>
		<string>C.RECT</string>
		<string>Ccedilla.RECT</string>
		<string>G.RECT</string>
		<string>Gcedilla.RECT</string>
		<string>O.RECT</string>
		<string>Ograve.RECT</string>
		<string>Oacute.RECT</string>
		<string>Ocircumflex.RECT</string>
		<string>Otilde.RECT</string>
		<string>Odieresis.RECT</string>
		<string>Omacron.RECT</string>
		<string>Obreve.RECT</string>
		<string>Ohorn.RECT</string>
		<string>Odotbelow.RECT</string>
		<string>Ohook.RECT</string>
		<string>Ocircumflexacute.RECT</string>
		<string>Ocircumflexgrave.RECT</string>
		<string>Ocircumflexhook.RECT</string>
		<string>Ocircumflextilde.RECT</string>
		<string>Ocircumflexdot.RECT</string>
		<string>Ohornacute.RECT</string>
		<string>Ohorngrave.RECT</string>
		<string>Ohornhook.RECT</string>
		<string>Ohorntilde.RECT</string>
		<string>Ohorndot.RECT</string>
		<string>Q.RECT</string>
		<string>Oslash.RECT</string>
		<string>Oslashacute.RECT</string>
		<string>OE.RECT</string>
		<string>Q.RECT_open</string>
		<string>Oslash.RECT_open</string>
		<string>Oslashacute.RECT_open</string>
		<string>Odieresis.RECT_titl</string>
	</array>
	<key>public.kern2.S</key>
	<array>
		<string>S</string>
		<string>Sacute</string>
		<string>Scedilla</string>
		<string>Scaron</string>
		<string>dollar</string>
		<string>dollar.open</string>
	</array>
	<key>public.kern2.T</key>
	<array>
		<string>T</string>
		<string>Tcaron</string>
	</array>
	<key>public.kern2.U</key>
	<array>
		<string>U</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Utilde</string>
		<string>Umacron</string>
		<string>Ubreve</string>
		<string>Uring</string>
		<string>Uhungarumlaut</string>
		<string>Uogonek</string>
		<string>Uhorn</string>
		<string>Ucaron</string>
		<string>Udotbelow</string>
		<string>Uhook</string>
		<string>Uhornacute</string>
		<string>Uhorngrave</string>
		<string>Uhornhook</string>
		<string>Uhorntilde</string>
		<string>Uhorndot</string>
		<string>IJ</string>
		<string>Udieresis.titl</string>
	</array>
	<key>public.kern2.U.RECT</key>
	<array>
		<string>U.RECT</string>
		<string>Ugrave.RECT</string>
		<string>Uacute.RECT</string>
		<string>Ucircumflex.RECT</string>
		<string>Udieresis.RECT</string>
		<string>Utilde.RECT</string>
		<string>Umacron.RECT</string>
		<string>Ubreve.RECT</string>
		<string>Uogonek.RECT</string>
		<string>Uhorn.RECT</string>
		<string>Udotbelow.RECT</string>
		<string>Uhook.RECT</string>
		<string>Uhornacute.RECT</string>
		<string>Uhorngrave.RECT</string>
		<string>Uhornhook.RECT</string>
		<string>Uhorntilde.RECT</string>
		<string>Uhorndot.RECT</string>
		<string>Udieresis.RECT_titl</string>
	</array>
	<key>public.kern2.W</key>
	<array>
		<string>W</string>
	</array>
	<key>public.kern2.W.rect</key>
	<array>
		<string>W.RECT</string>
	</array>
	<key>public.kern2.X</key>
	<array>
		<string>X</string>
	</array>
	<key>public.kern2.Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
		<string>Ydotbelow</string>
		<string>Yhookabove</string>
		<string>Ytilde</string>
	</array>
	<key>public.kern2.Z</key>
	<array>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zdotaccent</string>
		<string>Zcaron</string>
	</array>
	<key>public.kern2.a</key>
	<array>
		<string>a</string>
		<string>agrave</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>atilde</string>
		<string>adieresis</string>
		<string>aring</string>
		<string>amacron</string>
		<string>abreve</string>
		<string>aogonek</string>
		<string>adotbelow</string>
		<string>ahook</string>
		<string>acircumflexacute</string>
		<string>acircumflexgrave</string>
		<string>acircumflexhook</string>
		<string>acircumflextilde</string>
		<string>acircumflexdot</string>
		<string>abreveacute</string>
		<string>abrevegrave</string>
		<string>abrevehook</string>
		<string>abrevetilde</string>
		<string>abrevedot</string>
		<string>ae</string>
	</array>
	<key>public.kern2.braceright</key>
	<array>
		<string>parenright</string>
		<string>bracketright</string>
		<string>braceright</string>
	</array>
	<key>public.kern2.g.text</key>
	<array>
		<string>g.text</string>
		<string>gbreve.text</string>
		<string>gcedilla.text</string>
	</array>
	<key>public.kern2.guillemetleft</key>
	<array>
		<string>guilsinglleft</string>
		<string>guillemetleft</string>
	</array>
	<key>public.kern2.guillemetright</key>
	<array>
		<string>guilsinglright</string>
		<string>guillemetright</string>
	</array>
	<key>public.kern2.hyphen</key>
	<array>
		<string>hyphen</string>
		<string>hyphenproper</string>
		<string>endash</string>
		<string>emdash</string>
		<string>plus</string>
		<string>minus</string>
		<string>uni2010</string>
	</array>
	<key>public.kern2.itop</key>
	<array>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>itilde</string>
		<string>imacron</string>
		<string>ibreve</string>
		<string>ihook</string>
	</array>
	<key>public.kern2.lhook</key>
	<array>
		<string>l</string>
		<string>lacute</string>
		<string>lcedilla</string>
		<string>lcaron</string>
	</array>
	<key>public.kern2.n</key>
	<array>
		<string>m</string>
		<string>n</string>
		<string>ntilde</string>
		<string>nacute</string>
		<string>ncedilla</string>
		<string>ncaron</string>
		<string>p</string>
		<string>r</string>
		<string>racute</string>
		<string>rcedilla</string>
		<string>rcaron</string>
		<string>idotless</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>exclamdown</string>
		<string>jdotless.ultra</string>
		<string>r.calt</string>
	</array>
	<key>public.kern2.o</key>
	<array>
		<string>c</string>
		<string>ccedilla</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>d</string>
		<string>dcaron</string>
		<string>e</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>emacron</string>
		<string>ebreve</string>
		<string>edotaccent</string>
		<string>eogonek</string>
		<string>ecaron</string>
		<string>edotbelow</string>
		<string>ehook</string>
		<string>etilde</string>
		<string>ecircumflexacute</string>
		<string>ecircumflexgrave</string>
		<string>ecircumflexhook</string>
		<string>ecircumflextilde</string>
		<string>ecircumflexdot</string>
		<string>g</string>
		<string>gbreve</string>
		<string>gcedilla</string>
		<string>o</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>omacron</string>
		<string>obreve</string>
		<string>ohungarumlaut</string>
		<string>ohorn</string>
		<string>odotbelow</string>
		<string>ohook</string>
		<string>ocircumflexacute</string>
		<string>ocircumflexgrave</string>
		<string>ocircumflexhook</string>
		<string>ocircumflextilde</string>
		<string>ocircumflexdot</string>
		<string>ohornacute</string>
		<string>ohorngrave</string>
		<string>ohornhook</string>
		<string>ohorntilde</string>
		<string>ohorndot</string>
		<string>q</string>
		<string>eth</string>
		<string>oslash</string>
		<string>oslashacute</string>
		<string>dcroat</string>
		<string>oe</string>
		<string>a.italic</string>
		<string>agrave.italic</string>
		<string>aacute.italic</string>
		<string>acircumflex.italic</string>
		<string>atilde.italic</string>
		<string>adieresis.italic</string>
		<string>aring.italic</string>
		<string>amacron.italic</string>
		<string>abreve.italic</string>
		<string>aogonek.italic</string>
		<string>adotbelow.italic</string>
		<string>ahook.italic</string>
		<string>acircumflexacute.italic</string>
		<string>acircumflexgrave.italic</string>
		<string>acircumflexhook.italic</string>
		<string>acircumflextilde.italic</string>
		<string>acircumflexdot.italic</string>
		<string>abreveacute.italic</string>
		<string>abrevegrave.italic</string>
		<string>abrevehook.italic</string>
		<string>abrevetilde.italic</string>
		<string>abrevedot.italic</string>
		<string>oslash.open</string>
		<string>oslashacute.open</string>
		<string>ohorn.flat</string>
	</array>
	<key>public.kern2.one</key>
	<array>
		<string>one</string>
		<string>one.90deg</string>
	</array>
	<key>public.kern2.ordinal</key>
	<array>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>ND.ord</string>
		<string>RD.ord</string>
		<string>ST.ord</string>
		<string>TH.ord</string>
	</array>
	<key>public.kern2.period</key>
	<array>
		<string>period</string>
		<string>comma</string>
		<string>ellipsis</string>
	</array>
	<key>public.kern2.quoteleft</key>
	<array>
		<string>quoteleft</string>
		<string>quotedblleft</string>
	</array>
	<key>public.kern2.quoteright</key>
	<array>
		<string>quoteright</string>
		<string>quotedblright</string>
	</array>
	<key>public.kern2.quotesingle</key>
	<array>
		<string>quotesingle</string>
		<string>quotedbl</string>
		<string>minute</string>
		<string>second</string>
	</array>
	<key>public.kern2.s</key>
	<array>
		<string>s</string>
		<string>sacute</string>
		<string>scedilla</string>
		<string>scaron</string>
	</array>
	<key>public.kern2.t</key>
	<array>
		<string>t</string>
		<string>tcaron</string>
	</array>
	<key>public.kern2.u</key>
	<array>
		<string>u</string>
		<string>ugrave</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>utilde</string>
		<string>umacron</string>
		<string>ubreve</string>
		<string>uring</string>
		<string>uhungarumlaut</string>
		<string>uogonek</string>
		<string>uhorn</string>
		<string>ucaron</string>
		<string>udotbelow</string>
		<string>uhook</string>
		<string>uhornacute</string>
		<string>uhorngrave</string>
		<string>uhornhook</string>
		<string>uhorntilde</string>
		<string>uhorndot</string>
	</array>
	<key>public.kern2.v</key>
	<array>
		<string>v</string>
		<string>w</string>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
		<string>ygrave</string>
		<string>ydotbelow</string>
		<string>yhookabove</string>
		<string>ytilde</string>
		<string>y.ultra</string>
	</array>
	<key>public.kern2.x</key>
	<array>
		<string>x</string>
	</array>
	<key>public.kern2.z</key>
	<array>
		<string>z</string>
		<string>zacute</string>
		<string>zdotaccent</string>
		<string>zcaron</string>
	</array>
	<key>public.kern2.zero</key>
	<array>
		<string>zero</string>
		<string>six</string>
	</array>
</dict>
</plist>
