<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>A</key>
	<string>A_.glif</string>
	<key>AE</key>
	<string>A_E_.glif</string>
	<key>Aacute</key>
	<string>A_acute.glif</string>
	<key>Abreve</key>
	<string>A_breve.glif</string>
	<key>Abreveacute</key>
	<string>A_breveacute.glif</string>
	<key>Abrevedot</key>
	<string>A_brevedot.glif</string>
	<key>Abrevegrave</key>
	<string>A_brevegrave.glif</string>
	<key>Abrevehook</key>
	<string>A_brevehook.glif</string>
	<key>Abrevetilde</key>
	<string>A_brevetilde.glif</string>
	<key>Acircumflex</key>
	<string>A_circumflex.glif</string>
	<key>Acircumflexacute</key>
	<string>A_circumflexacute.glif</string>
	<key>Acircumflexdot</key>
	<string>A_circumflexdot.glif</string>
	<key>Acircumflexgrave</key>
	<string>A_circumflexgrave.glif</string>
	<key>Acircumflexhook</key>
	<string>A_circumflexhook.glif</string>
	<key>Acircumflextilde</key>
	<string>A_circumflextilde.glif</string>
	<key>Adieresis</key>
	<string>A_dieresis.glif</string>
	<key>Adieresis.titl</key>
	<string>A_dieresis.titl.glif</string>
	<key>Adotbelow</key>
	<string>A_dotbelow.glif</string>
	<key>Agrave</key>
	<string>A_grave.glif</string>
	<key>Ahook</key>
	<string>A_hook.glif</string>
	<key>Amacron</key>
	<string>A_macron.glif</string>
	<key>Aogonek</key>
	<string>A_ogonek.glif</string>
	<key>Aring</key>
	<string>A_ring.glif</string>
	<key>Atilde</key>
	<string>A_tilde.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>B.RECT</key>
	<string>B_.R_E_C_T_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>C.RECT</key>
	<string>C_.R_E_C_T_.glif</string>
	<key>Cacute</key>
	<string>C_acute.glif</string>
	<key>Cacute.RECT</key>
	<string>C_acute.R_E_C_T_.glif</string>
	<key>Ccaron</key>
	<string>C_caron.glif</string>
	<key>Ccedilla</key>
	<string>C_cedilla.glif</string>
	<key>Ccedilla.RECT</key>
	<string>C_cedilla.R_E_C_T_.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>D.RECT</key>
	<string>D_.R_E_C_T_.glif</string>
	<key>Dcaron</key>
	<string>D_caron.glif</string>
	<key>Dcroat</key>
	<string>D_croat.glif</string>
	<key>Dcroat.RECT</key>
	<string>D_croat.R_E_C_T_.glif</string>
	<key>Delta</key>
	<string>D_elta.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>E.RECT</key>
	<string>E_.R_E_C_T_.glif</string>
	<key>Eacute</key>
	<string>E_acute.glif</string>
	<key>Eacute.RECT</key>
	<string>E_acute.R_E_C_T_.glif</string>
	<key>Ebreve</key>
	<string>E_breve.glif</string>
	<key>Ebreve.RECT</key>
	<string>E_breve.R_E_C_T_.glif</string>
	<key>Ecaron</key>
	<string>E_caron.glif</string>
	<key>Ecircumflex</key>
	<string>E_circumflex.glif</string>
	<key>Ecircumflex.RECT</key>
	<string>E_circumflex.R_E_C_T_.glif</string>
	<key>Ecircumflexacute</key>
	<string>E_circumflexacute.glif</string>
	<key>Ecircumflexacute.RECT</key>
	<string>E_circumflexacute.R_E_C_T_.glif</string>
	<key>Ecircumflexdot</key>
	<string>E_circumflexdot.glif</string>
	<key>Ecircumflexdot.RECT</key>
	<string>E_circumflexdot.R_E_C_T_.glif</string>
	<key>Ecircumflexgrave</key>
	<string>E_circumflexgrave.glif</string>
	<key>Ecircumflexgrave.RECT</key>
	<string>E_circumflexgrave.R_E_C_T_.glif</string>
	<key>Ecircumflexhook</key>
	<string>E_circumflexhook.glif</string>
	<key>Ecircumflexhook.RECT</key>
	<string>E_circumflexhook.R_E_C_T_.glif</string>
	<key>Ecircumflextilde</key>
	<string>E_circumflextilde.glif</string>
	<key>Ecircumflextilde.RECT</key>
	<string>E_circumflextilde.R_E_C_T_.glif</string>
	<key>Edieresis</key>
	<string>E_dieresis.glif</string>
	<key>Edieresis.RECT</key>
	<string>E_dieresis.R_E_C_T_.glif</string>
	<key>Edotaccent</key>
	<string>E_dotaccent.glif</string>
	<key>Edotaccent.RECT</key>
	<string>E_dotaccent.R_E_C_T_.glif</string>
	<key>Edotbelow</key>
	<string>E_dotbelow.glif</string>
	<key>Edotbelow.RECT</key>
	<string>E_dotbelow.R_E_C_T_.glif</string>
	<key>Egrave</key>
	<string>E_grave.glif</string>
	<key>Egrave.RECT</key>
	<string>E_grave.R_E_C_T_.glif</string>
	<key>Ehook</key>
	<string>E_hook.glif</string>
	<key>Ehook.RECT</key>
	<string>E_hook.R_E_C_T_.glif</string>
	<key>Emacron</key>
	<string>E_macron.glif</string>
	<key>Emacron.RECT</key>
	<string>E_macron.R_E_C_T_.glif</string>
	<key>Eogonek</key>
	<string>E_ogonek.glif</string>
	<key>Eogonek.RECT</key>
	<string>E_ogonek.R_E_C_T_.glif</string>
	<key>Eth</key>
	<string>E_th.glif</string>
	<key>Eth.RECT</key>
	<string>E_th.R_E_C_T_.glif</string>
	<key>Etilde</key>
	<string>E_tilde.glif</string>
	<key>Etilde.RECT</key>
	<string>E_tilde.R_E_C_T_.glif</string>
	<key>Euro</key>
	<string>E_uro.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>G.RECT</key>
	<string>G_.R_E_C_T_.glif</string>
	<key>Gbreve</key>
	<string>G_breve.glif</string>
	<key>Gcedilla</key>
	<string>G_cedilla.glif</string>
	<key>Gcedilla.RECT</key>
	<string>G_cedilla.R_E_C_T_.glif</string>
	<key>Germandbls</key>
	<string>G_ermandbls.glif</string>
	<key>Germandbls.RECT</key>
	<string>G_ermandbls.R_E_C_T_.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>I.text</key>
	<string>I_.text.glif</string>
	<key>IJ</key>
	<string>I_J_.glif</string>
	<key>Iacute</key>
	<string>I_acute.glif</string>
	<key>Iacute.text</key>
	<string>I_acute.text.glif</string>
	<key>Ibreve</key>
	<string>I_breve.glif</string>
	<key>Ibreve.text</key>
	<string>I_breve.text.glif</string>
	<key>Icircumflex</key>
	<string>I_circumflex.glif</string>
	<key>Icircumflex.text</key>
	<string>I_circumflex.text.glif</string>
	<key>Idieresis</key>
	<string>I_dieresis.glif</string>
	<key>Idieresis.text</key>
	<string>I_dieresis.text.glif</string>
	<key>Idotaccent</key>
	<string>I_dotaccent.glif</string>
	<key>Idotaccent.text</key>
	<string>I_dotaccent.text.glif</string>
	<key>Idotbelow</key>
	<string>I_dotbelow.glif</string>
	<key>Idotbelow.text</key>
	<string>I_dotbelow.text.glif</string>
	<key>Igrave</key>
	<string>I_grave.glif</string>
	<key>Igrave.text</key>
	<string>I_grave.text.glif</string>
	<key>Ihook</key>
	<string>I_hook.glif</string>
	<key>Ihook.text</key>
	<string>I_hook.text.glif</string>
	<key>Imacron</key>
	<string>I_macron.glif</string>
	<key>Imacron.text</key>
	<string>I_macron.text.glif</string>
	<key>Iogonek</key>
	<string>I_ogonek.glif</string>
	<key>Iogonek.text</key>
	<string>I_ogonek.text.glif</string>
	<key>Itilde</key>
	<string>I_tilde.glif</string>
	<key>Itilde.text</key>
	<string>I_tilde.text.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>Kcedilla</key>
	<string>K_cedilla.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>Lacute</key>
	<string>L_acute.glif</string>
	<key>Lcaron</key>
	<string>L_caron.glif</string>
	<key>Lcedilla</key>
	<string>L_cedilla.glif</string>
	<key>Lslash</key>
	<string>L_slash.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>M.RECT</key>
	<string>M_.R_E_C_T_.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>N.RECT</key>
	<string>N_.R_E_C_T_.glif</string>
	<key>ND.ord</key>
	<string>N_D_.ord.glif</string>
	<key>Nacute</key>
	<string>N_acute.glif</string>
	<key>Nacute.RECT</key>
	<string>N_acute.R_E_C_T_.glif</string>
	<key>Ncaron</key>
	<string>N_caron.glif</string>
	<key>Ncaron.RECT</key>
	<string>N_caron.R_E_C_T_.glif</string>
	<key>Ncedilla</key>
	<string>N_cedilla.glif</string>
	<key>Ncedilla.RECT</key>
	<string>N_cedilla.R_E_C_T_.glif</string>
	<key>Ntilde</key>
	<string>N_tilde.glif</string>
	<key>Ntilde.RECT</key>
	<string>N_tilde.R_E_C_T_.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>O.RECT</key>
	<string>O_.R_E_C_T_.glif</string>
	<key>OE</key>
	<string>O_E_.glif</string>
	<key>OE.RECT</key>
	<string>O_E_.R_E_C_T_.glif</string>
	<key>Oacute</key>
	<string>O_acute.glif</string>
	<key>Oacute.RECT</key>
	<string>O_acute.R_E_C_T_.glif</string>
	<key>Obreve</key>
	<string>O_breve.glif</string>
	<key>Obreve.RECT</key>
	<string>O_breve.R_E_C_T_.glif</string>
	<key>Ocircumflex</key>
	<string>O_circumflex.glif</string>
	<key>Ocircumflex.RECT</key>
	<string>O_circumflex.R_E_C_T_.glif</string>
	<key>Ocircumflexacute</key>
	<string>O_circumflexacute.glif</string>
	<key>Ocircumflexacute.RECT</key>
	<string>O_circumflexacute.R_E_C_T_.glif</string>
	<key>Ocircumflexdot</key>
	<string>O_circumflexdot.glif</string>
	<key>Ocircumflexdot.RECT</key>
	<string>O_circumflexdot.R_E_C_T_.glif</string>
	<key>Ocircumflexgrave</key>
	<string>O_circumflexgrave.glif</string>
	<key>Ocircumflexgrave.RECT</key>
	<string>O_circumflexgrave.R_E_C_T_.glif</string>
	<key>Ocircumflexhook</key>
	<string>O_circumflexhook.glif</string>
	<key>Ocircumflexhook.RECT</key>
	<string>O_circumflexhook.R_E_C_T_.glif</string>
	<key>Ocircumflextilde</key>
	<string>O_circumflextilde.glif</string>
	<key>Ocircumflextilde.RECT</key>
	<string>O_circumflextilde.R_E_C_T_.glif</string>
	<key>Odieresis</key>
	<string>O_dieresis.glif</string>
	<key>Odieresis.RECT</key>
	<string>O_dieresis.R_E_C_T_.glif</string>
	<key>Odieresis.RECT_titl</key>
	<string>O_dieresis.R_E_C_T__titl.glif</string>
	<key>Odieresis.titl</key>
	<string>O_dieresis.titl.glif</string>
	<key>Odotbelow</key>
	<string>O_dotbelow.glif</string>
	<key>Odotbelow.RECT</key>
	<string>O_dotbelow.R_E_C_T_.glif</string>
	<key>Ograve</key>
	<string>O_grave.glif</string>
	<key>Ograve.RECT</key>
	<string>O_grave.R_E_C_T_.glif</string>
	<key>Ohook</key>
	<string>O_hook.glif</string>
	<key>Ohook.RECT</key>
	<string>O_hook.R_E_C_T_.glif</string>
	<key>Ohorn</key>
	<string>O_horn.glif</string>
	<key>Ohorn.RECT</key>
	<string>O_horn.R_E_C_T_.glif</string>
	<key>Ohorn.flat</key>
	<string>O_horn.flat.glif</string>
	<key>Ohornacute</key>
	<string>O_hornacute.glif</string>
	<key>Ohornacute.RECT</key>
	<string>O_hornacute.R_E_C_T_.glif</string>
	<key>Ohorndot</key>
	<string>O_horndot.glif</string>
	<key>Ohorndot.RECT</key>
	<string>O_horndot.R_E_C_T_.glif</string>
	<key>Ohorngrave</key>
	<string>O_horngrave.glif</string>
	<key>Ohorngrave.RECT</key>
	<string>O_horngrave.R_E_C_T_.glif</string>
	<key>Ohornhook</key>
	<string>O_hornhook.glif</string>
	<key>Ohornhook.RECT</key>
	<string>O_hornhook.R_E_C_T_.glif</string>
	<key>Ohorntilde</key>
	<string>O_horntilde.glif</string>
	<key>Ohorntilde.RECT</key>
	<string>O_horntilde.R_E_C_T_.glif</string>
	<key>Ohungarumlaut</key>
	<string>O_hungarumlaut.glif</string>
	<key>Omacron</key>
	<string>O_macron.glif</string>
	<key>Omacron.RECT</key>
	<string>O_macron.R_E_C_T_.glif</string>
	<key>Omega</key>
	<string>O_mega.glif</string>
	<key>Oslash</key>
	<string>O_slash.glif</string>
	<key>Oslash.RECT</key>
	<string>O_slash.R_E_C_T_.glif</string>
	<key>Oslash.RECT_open</key>
	<string>O_slash.R_E_C_T__open.glif</string>
	<key>Oslash.open</key>
	<string>O_slash.open.glif</string>
	<key>Oslashacute</key>
	<string>O_slashacute.glif</string>
	<key>Oslashacute.RECT</key>
	<string>O_slashacute.R_E_C_T_.glif</string>
	<key>Oslashacute.RECT_open</key>
	<string>O_slashacute.R_E_C_T__open.glif</string>
	<key>Oslashacute.open</key>
	<string>O_slashacute.open.glif</string>
	<key>Otilde</key>
	<string>O_tilde.glif</string>
	<key>Otilde.RECT</key>
	<string>O_tilde.R_E_C_T_.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>P.RECT</key>
	<string>P_.R_E_C_T_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>Q.RECT</key>
	<string>Q_.R_E_C_T_.glif</string>
	<key>Q.RECT_open</key>
	<string>Q_.R_E_C_T__open.glif</string>
	<key>Q.open</key>
	<string>Q_.open.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>R.RECT</key>
	<string>R_.R_E_C_T_.glif</string>
	<key>R.text</key>
	<string>R_.text.glif</string>
	<key>RD.ord</key>
	<string>R_D_.ord.glif</string>
	<key>Racute</key>
	<string>R_acute.glif</string>
	<key>Racute.RECT</key>
	<string>R_acute.R_E_C_T_.glif</string>
	<key>Racute.text</key>
	<string>R_acute.text.glif</string>
	<key>Rcaron</key>
	<string>R_caron.glif</string>
	<key>Rcaron.RECT</key>
	<string>R_caron.R_E_C_T_.glif</string>
	<key>Rcaron.text</key>
	<string>R_caron.text.glif</string>
	<key>Rcedilla</key>
	<string>R_cedilla.glif</string>
	<key>Rcedilla.RECT</key>
	<string>R_cedilla.R_E_C_T_.glif</string>
	<key>Rcedilla.text</key>
	<string>R_cedilla.text.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>ST.ord</key>
	<string>S_T_.ord.glif</string>
	<key>Sacute</key>
	<string>S_acute.glif</string>
	<key>Scaron</key>
	<string>S_caron.glif</string>
	<key>Scedilla</key>
	<string>S_cedilla.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>TH.ord</key>
	<string>T_H_.ord.glif</string>
	<key>Tcaron</key>
	<string>T_caron.glif</string>
	<key>Thorn</key>
	<string>T_horn.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>U.RECT</key>
	<string>U_.R_E_C_T_.glif</string>
	<key>Uacute</key>
	<string>U_acute.glif</string>
	<key>Uacute.RECT</key>
	<string>U_acute.R_E_C_T_.glif</string>
	<key>Ubreve</key>
	<string>U_breve.glif</string>
	<key>Ubreve.RECT</key>
	<string>U_breve.R_E_C_T_.glif</string>
	<key>Ucaron</key>
	<string>U_caron.glif</string>
	<key>Ucircumflex</key>
	<string>U_circumflex.glif</string>
	<key>Ucircumflex.RECT</key>
	<string>U_circumflex.R_E_C_T_.glif</string>
	<key>Udieresis</key>
	<string>U_dieresis.glif</string>
	<key>Udieresis.RECT</key>
	<string>U_dieresis.R_E_C_T_.glif</string>
	<key>Udieresis.RECT_titl</key>
	<string>U_dieresis.R_E_C_T__titl.glif</string>
	<key>Udieresis.titl</key>
	<string>U_dieresis.titl.glif</string>
	<key>Udotbelow</key>
	<string>U_dotbelow.glif</string>
	<key>Udotbelow.RECT</key>
	<string>U_dotbelow.R_E_C_T_.glif</string>
	<key>Ugrave</key>
	<string>U_grave.glif</string>
	<key>Ugrave.RECT</key>
	<string>U_grave.R_E_C_T_.glif</string>
	<key>Uhook</key>
	<string>U_hook.glif</string>
	<key>Uhook.RECT</key>
	<string>U_hook.R_E_C_T_.glif</string>
	<key>Uhorn</key>
	<string>U_horn.glif</string>
	<key>Uhorn.RECT</key>
	<string>U_horn.R_E_C_T_.glif</string>
	<key>Uhornacute</key>
	<string>U_hornacute.glif</string>
	<key>Uhornacute.RECT</key>
	<string>U_hornacute.R_E_C_T_.glif</string>
	<key>Uhorndot</key>
	<string>U_horndot.glif</string>
	<key>Uhorndot.RECT</key>
	<string>U_horndot.R_E_C_T_.glif</string>
	<key>Uhorngrave</key>
	<string>U_horngrave.glif</string>
	<key>Uhorngrave.RECT</key>
	<string>U_horngrave.R_E_C_T_.glif</string>
	<key>Uhornhook</key>
	<string>U_hornhook.glif</string>
	<key>Uhornhook.RECT</key>
	<string>U_hornhook.R_E_C_T_.glif</string>
	<key>Uhorntilde</key>
	<string>U_horntilde.glif</string>
	<key>Uhorntilde.RECT</key>
	<string>U_horntilde.R_E_C_T_.glif</string>
	<key>Uhungarumlaut</key>
	<string>U_hungarumlaut.glif</string>
	<key>Umacron</key>
	<string>U_macron.glif</string>
	<key>Umacron.RECT</key>
	<string>U_macron.R_E_C_T_.glif</string>
	<key>Uogonek</key>
	<string>U_ogonek.glif</string>
	<key>Uogonek.RECT</key>
	<string>U_ogonek.R_E_C_T_.glif</string>
	<key>Uring</key>
	<string>U_ring.glif</string>
	<key>Utilde</key>
	<string>U_tilde.glif</string>
	<key>Utilde.RECT</key>
	<string>U_tilde.R_E_C_T_.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>W.RECT</key>
	<string>W_.R_E_C_T_.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Yacute</key>
	<string>Y_acute.glif</string>
	<key>Ydieresis</key>
	<string>Y_dieresis.glif</string>
	<key>Ydotbelow</key>
	<string>Y_dotbelow.glif</string>
	<key>Ygrave</key>
	<string>Y_grave.glif</string>
	<key>Yhookabove</key>
	<string>Y_hookabove.glif</string>
	<key>Ytilde</key>
	<string>Y_tilde.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>Zacute</key>
	<string>Z_acute.glif</string>
	<key>Zcaron</key>
	<string>Z_caron.glif</string>
	<key>Zdotaccent</key>
	<string>Z_dotaccent.glif</string>
	<key>_gridunit</key>
	<string>_gridunit.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>a.gilly</key>
	<string>a.gilly.glif</string>
	<key>a.italic</key>
	<string>a.italic.glif</string>
	<key>aacute</key>
	<string>aacute.glif</string>
	<key>aacute.italic</key>
	<string>aacute.italic.glif</string>
	<key>abreve</key>
	<string>abreve.glif</string>
	<key>abreve.italic</key>
	<string>abreve.italic.glif</string>
	<key>abreveacute</key>
	<string>abreveacute.glif</string>
	<key>abreveacute.italic</key>
	<string>abreveacute.italic.glif</string>
	<key>abrevedot</key>
	<string>abrevedot.glif</string>
	<key>abrevedot.italic</key>
	<string>abrevedot.italic.glif</string>
	<key>abrevegrave</key>
	<string>abrevegrave.glif</string>
	<key>abrevegrave.italic</key>
	<string>abrevegrave.italic.glif</string>
	<key>abrevehook</key>
	<string>abrevehook.glif</string>
	<key>abrevehook.italic</key>
	<string>abrevehook.italic.glif</string>
	<key>abrevetilde</key>
	<string>abrevetilde.glif</string>
	<key>abrevetilde.italic</key>
	<string>abrevetilde.italic.glif</string>
	<key>acircumflex</key>
	<string>acircumflex.glif</string>
	<key>acircumflex.italic</key>
	<string>acircumflex.italic.glif</string>
	<key>acircumflexacute</key>
	<string>acircumflexacute.glif</string>
	<key>acircumflexacute.italic</key>
	<string>acircumflexacute.italic.glif</string>
	<key>acircumflexdot</key>
	<string>acircumflexdot.glif</string>
	<key>acircumflexdot.italic</key>
	<string>acircumflexdot.italic.glif</string>
	<key>acircumflexgrave</key>
	<string>acircumflexgrave.glif</string>
	<key>acircumflexgrave.italic</key>
	<string>acircumflexgrave.italic.glif</string>
	<key>acircumflexhook</key>
	<string>acircumflexhook.glif</string>
	<key>acircumflexhook.italic</key>
	<string>acircumflexhook.italic.glif</string>
	<key>acircumflextilde</key>
	<string>acircumflextilde.glif</string>
	<key>acircumflextilde.italic</key>
	<string>acircumflextilde.italic.glif</string>
	<key>acute</key>
	<string>acute.glif</string>
	<key>acutecomb</key>
	<string>acutecomb.glif</string>
	<key>acutecombviet</key>
	<string>acutecombviet.glif</string>
	<key>adieresis</key>
	<string>adieresis.glif</string>
	<key>adieresis.italic</key>
	<string>adieresis.italic.glif</string>
	<key>adotbelow</key>
	<string>adotbelow.glif</string>
	<key>adotbelow.italic</key>
	<string>adotbelow.italic.glif</string>
	<key>ae</key>
	<string>ae.glif</string>
	<key>agrave</key>
	<string>agrave.glif</string>
	<key>agrave.italic</key>
	<string>agrave.italic.glif</string>
	<key>ahook</key>
	<string>ahook.glif</string>
	<key>ahook.italic</key>
	<string>ahook.italic.glif</string>
	<key>amacron</key>
	<string>amacron.glif</string>
	<key>amacron.italic</key>
	<string>amacron.italic.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>anglebracketleft</key>
	<string>anglebracketleft.glif</string>
	<key>anglebracketright</key>
	<string>anglebracketright.glif</string>
	<key>aogonek</key>
	<string>aogonek.glif</string>
	<key>aogonek.italic</key>
	<string>aogonek.italic.glif</string>
	<key>approxequal</key>
	<string>approxequal.glif</string>
	<key>aring</key>
	<string>aring.glif</string>
	<key>aring.italic</key>
	<string>aring.italic.glif</string>
	<key>arrowdown</key>
	<string>arrowdown.glif</string>
	<key>arrowleft</key>
	<string>arrowleft.glif</string>
	<key>arrowlefttail</key>
	<string>arrowlefttail.glif</string>
	<key>arrowlefttailfeather</key>
	<string>arrowlefttailfeather.glif</string>
	<key>arrowlefttriangle</key>
	<string>arrowlefttriangle.glif</string>
	<key>arrowright</key>
	<string>arrowright.glif</string>
	<key>arrowrighttail</key>
	<string>arrowrighttail.glif</string>
	<key>arrowrighttailfeather</key>
	<string>arrowrighttailfeather.glif</string>
	<key>arrowrighttriangle</key>
	<string>arrowrighttriangle.glif</string>
	<key>arrowup</key>
	<string>arrowup.glif</string>
	<key>asciicircum</key>
	<string>asciicircum.glif</string>
	<key>asciitilde</key>
	<string>asciitilde.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>atilde</key>
	<string>atilde.glif</string>
	<key>atilde.italic</key>
	<string>atilde.italic.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>bar</key>
	<string>bar.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>breve</key>
	<string>breve.glif</string>
	<key>brevecomb</key>
	<string>brevecomb.glif</string>
	<key>bullet</key>
	<string>bullet.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>cacute</key>
	<string>cacute.glif</string>
	<key>caron</key>
	<string>caron.glif</string>
	<key>caroncomb</key>
	<string>caroncomb.glif</string>
	<key>ccaron</key>
	<string>ccaron.glif</string>
	<key>ccedilla</key>
	<string>ccedilla.glif</string>
	<key>cedilla</key>
	<string>cedilla.glif</string>
	<key>cedillacomb</key>
	<string>cedillacomb.glif</string>
	<key>cent</key>
	<string>cent.glif</string>
	<key>cent.open</key>
	<string>cent.open.glif</string>
	<key>circumflex</key>
	<string>circumflex.glif</string>
	<key>circumflexcomb</key>
	<string>circumflexcomb.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>commaaccentcomb</key>
	<string>commaaccentcomb.glif</string>
	<key>commaturnedabovecomb</key>
	<string>commaturnedabovecomb.glif</string>
	<key>commaturnedmod</key>
	<string>commaturnedmod.glif</string>
	<key>commercialminus</key>
	<string>commercialminus.glif</string>
	<key>copyright</key>
	<string>copyright.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>dagger</key>
	<string>dagger.glif</string>
	<key>daggerdbl</key>
	<string>daggerdbl.glif</string>
	<key>dcaron</key>
	<string>dcaron.glif</string>
	<key>dcroat</key>
	<string>dcroat.glif</string>
	<key>degree</key>
	<string>degree.glif</string>
	<key>dieresis</key>
	<string>dieresis.glif</string>
	<key>dieresiscomb</key>
	<string>dieresiscomb.glif</string>
	<key>divide</key>
	<string>divide.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>dollar.open</key>
	<string>dollar.open.glif</string>
	<key>dotaccent</key>
	<string>dotaccent.glif</string>
	<key>dotaccentcomb</key>
	<string>dotaccentcomb.glif</string>
	<key>dotbelowcmb</key>
	<string>dotbelowcmb.glif</string>
	<key>dotcomb</key>
	<string>dotcomb.glif</string>
	<key>dotlessi</key>
	<string>dotlessi.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>eacute</key>
	<string>eacute.glif</string>
	<key>ebreve</key>
	<string>ebreve.glif</string>
	<key>ecaron</key>
	<string>ecaron.glif</string>
	<key>ecircumflex</key>
	<string>ecircumflex.glif</string>
	<key>ecircumflexacute</key>
	<string>ecircumflexacute.glif</string>
	<key>ecircumflexdot</key>
	<string>ecircumflexdot.glif</string>
	<key>ecircumflexgrave</key>
	<string>ecircumflexgrave.glif</string>
	<key>ecircumflexhook</key>
	<string>ecircumflexhook.glif</string>
	<key>ecircumflextilde</key>
	<string>ecircumflextilde.glif</string>
	<key>edieresis</key>
	<string>edieresis.glif</string>
	<key>edotaccent</key>
	<string>edotaccent.glif</string>
	<key>edotbelow</key>
	<string>edotbelow.glif</string>
	<key>egrave</key>
	<string>egrave.glif</string>
	<key>ehook</key>
	<string>ehook.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>eight.200105-19_33</key>
	<string>eight.200105-19_33.glif</string>
	<key>eight.dnom</key>
	<string>eight.dnom.glif</string>
	<key>eight.numr</key>
	<string>eight.numr.glif</string>
	<key>eight.smooth</key>
	<string>eight.smooth.glif</string>
	<key>eight.smooth_2</key>
	<string>eight.smooth_2.glif</string>
	<key>eight.tabl</key>
	<string>eight.tabl.glif</string>
	<key>ellipsis</key>
	<string>ellipsis.glif</string>
	<key>emacron</key>
	<string>emacron.glif</string>
	<key>emdash</key>
	<string>emdash.glif</string>
	<key>endash</key>
	<string>endash.glif</string>
	<key>eogonek</key>
	<string>eogonek.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>eth</key>
	<string>eth.glif</string>
	<key>etilde</key>
	<string>etilde.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>exclamdown</key>
	<string>exclamdown.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>fi</key>
	<string>fi.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>five.dnom</key>
	<string>five.dnom.glif</string>
	<key>five.numr</key>
	<string>five.numr.glif</string>
	<key>five.tabl</key>
	<string>five.tabl.glif</string>
	<key>fl</key>
	<string>fl.glif</string>
	<key>florin</key>
	<string>florin.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>four.dnom</key>
	<string>four.dnom.glif</string>
	<key>four.numr</key>
	<string>four.numr.glif</string>
	<key>four.tabl</key>
	<string>four.tabl.glif</string>
	<key>fraction</key>
	<string>fraction.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>g.text</key>
	<string>g.text.glif</string>
	<key>gbreve</key>
	<string>gbreve.glif</string>
	<key>gbreve.text</key>
	<string>gbreve.text.glif</string>
	<key>gcedilla</key>
	<string>gcedilla.glif</string>
	<key>gcedilla.text</key>
	<string>gcedilla.text.glif</string>
	<key>germandbls</key>
	<string>germandbls.glif</string>
	<key>germandbls.alt</key>
	<string>germandbls.alt.glif</string>
	<key>grave</key>
	<string>grave.glif</string>
	<key>gravecomb</key>
	<string>gravecomb.glif</string>
	<key>gravecombviet</key>
	<string>gravecombviet.glif</string>
	<key>greater</key>
	<string>greater.glif</string>
	<key>greaterequal</key>
	<string>greaterequal.glif</string>
	<key>guillemetleft</key>
	<string>guillemetleft.glif</string>
	<key>guillemetright</key>
	<string>guillemetright.glif</string>
	<key>guilsinglleft</key>
	<string>guilsinglleft.glif</string>
	<key>guilsinglright</key>
	<string>guilsinglright.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>hookcomb</key>
	<string>hookcomb.glif</string>
	<key>hookcombviet</key>
	<string>hookcombviet.glif</string>
	<key>horncmb</key>
	<string>horncmb.glif</string>
	<key>hungarumlaut</key>
	<string>hungarumlaut.glif</string>
	<key>hungarumlautcmb</key>
	<string>hungarumlautcmb.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>hyphenproper</key>
	<string>hyphenproper.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>iacute</key>
	<string>iacute.glif</string>
	<key>ibreve</key>
	<string>ibreve.glif</string>
	<key>icircumflex</key>
	<string>icircumflex.glif</string>
	<key>idieresis</key>
	<string>idieresis.glif</string>
	<key>idotbelow</key>
	<string>idotbelow.glif</string>
	<key>idotless</key>
	<string>idotless.glif</string>
	<key>igrave</key>
	<string>igrave.glif</string>
	<key>ihook</key>
	<string>ihook.glif</string>
	<key>ij</key>
	<string>ij.glif</string>
	<key>ij.ultra</key>
	<string>ij.ultra.glif</string>
	<key>imacron</key>
	<string>imacron.glif</string>
	<key>increment</key>
	<string>increment.glif</string>
	<key>infinity</key>
	<string>infinity.glif</string>
	<key>integral</key>
	<string>integral.glif</string>
	<key>iogonek</key>
	<string>iogonek.glif</string>
	<key>itilde</key>
	<string>itilde.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>j.ultra</key>
	<string>j.ultra.glif</string>
	<key>jdotless</key>
	<string>jdotless.glif</string>
	<key>jdotless.ultra</key>
	<string>jdotless.ultra.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>kcedilla</key>
	<string>kcedilla.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>l.sans</key>
	<string>l.sans.glif</string>
	<key>l.text</key>
	<string>l.text.glif</string>
	<key>l.ultra</key>
	<string>l.ultra.glif</string>
	<key>lacute</key>
	<string>lacute.glif</string>
	<key>lacute.text</key>
	<string>lacute.text.glif</string>
	<key>lcaron</key>
	<string>lcaron.glif</string>
	<key>lcaron.text</key>
	<string>lcaron.text.glif</string>
	<key>lcedilla</key>
	<string>lcedilla.glif</string>
	<key>lcedilla.text</key>
	<string>lcedilla.text.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>lessequal</key>
	<string>lessequal.glif</string>
	<key>logicalnot</key>
	<string>logicalnot.glif</string>
	<key>lozenge</key>
	<string>lozenge.glif</string>
	<key>lslash</key>
	<string>lslash.glif</string>
	<key>lslash.text</key>
	<string>lslash.text.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>macron</key>
	<string>macron.glif</string>
	<key>macroncomb</key>
	<string>macroncomb.glif</string>
	<key>minus</key>
	<string>minus.glif</string>
	<key>minute</key>
	<string>minute.glif</string>
	<key>mu</key>
	<string>mu.glif</string>
	<key>mu.math</key>
	<string>mu.math.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>n.sharpcut</key>
	<string>n.sharpcut.glif</string>
	<key>nacute</key>
	<string>nacute.glif</string>
	<key>nbspace</key>
	<string>nbspace.glif</string>
	<key>ncaron</key>
	<string>ncaron.glif</string>
	<key>ncedilla</key>
	<string>ncedilla.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>nine.dnom</key>
	<string>nine.dnom.glif</string>
	<key>nine.numr</key>
	<string>nine.numr.glif</string>
	<key>nine.tabl</key>
	<string>nine.tabl.glif</string>
	<key>notequal</key>
	<string>notequal.glif</string>
	<key>ntilde</key>
	<string>ntilde.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>numero</key>
	<string>numero.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>oacute</key>
	<string>oacute.glif</string>
	<key>obreve</key>
	<string>obreve.glif</string>
	<key>ocircumflex</key>
	<string>ocircumflex.glif</string>
	<key>ocircumflexacute</key>
	<string>ocircumflexacute.glif</string>
	<key>ocircumflexdot</key>
	<string>ocircumflexdot.glif</string>
	<key>ocircumflexgrave</key>
	<string>ocircumflexgrave.glif</string>
	<key>ocircumflexhook</key>
	<string>ocircumflexhook.glif</string>
	<key>ocircumflextilde</key>
	<string>ocircumflextilde.glif</string>
	<key>odieresis</key>
	<string>odieresis.glif</string>
	<key>odotbelow</key>
	<string>odotbelow.glif</string>
	<key>oe</key>
	<string>oe.glif</string>
	<key>ogonek</key>
	<string>ogonek.glif</string>
	<key>ogonekcmb</key>
	<string>ogonekcmb.glif</string>
	<key>ograve</key>
	<string>ograve.glif</string>
	<key>ohook</key>
	<string>ohook.glif</string>
	<key>ohorn</key>
	<string>ohorn.glif</string>
	<key>ohorn.flat</key>
	<string>ohorn.flat.glif</string>
	<key>ohornacute</key>
	<string>ohornacute.glif</string>
	<key>ohorndot</key>
	<string>ohorndot.glif</string>
	<key>ohorngrave</key>
	<string>ohorngrave.glif</string>
	<key>ohornhook</key>
	<string>ohornhook.glif</string>
	<key>ohorntilde</key>
	<string>ohorntilde.glif</string>
	<key>ohungarumlaut</key>
	<string>ohungarumlaut.glif</string>
	<key>omacron</key>
	<string>omacron.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>one.90deg</key>
	<string>one.90deg.glif</string>
	<key>one.dnom</key>
	<string>one.dnom.glif</string>
	<key>one.flat</key>
	<string>one.flat.glif</string>
	<key>one.numr</key>
	<string>one.numr.glif</string>
	<key>one.tabl</key>
	<string>one.tabl.glif</string>
	<key>one.tabl_90deg</key>
	<string>one.tabl_90deg.glif</string>
	<key>ordfeminine</key>
	<string>ordfeminine.glif</string>
	<key>ordmasculine</key>
	<string>ordmasculine.glif</string>
	<key>oslash</key>
	<string>oslash.glif</string>
	<key>oslash.open</key>
	<string>oslash.open.glif</string>
	<key>oslashacute</key>
	<string>oslashacute.glif</string>
	<key>oslashacute.open</key>
	<string>oslashacute.open.glif</string>
	<key>otilde</key>
	<string>otilde.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>paragraph</key>
	<string>paragraph.glif</string>
	<key>paragraph.light</key>
	<string>paragraph.light.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>partialdiff</key>
	<string>partialdiff.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>periodcentered</key>
	<string>periodcentered.glif</string>
	<key>perthousand</key>
	<string>perthousand.glif</string>
	<key>pi</key>
	<string>pi.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>plusminus</key>
	<string>plusminus.glif</string>
	<key>product</key>
	<string>product.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>questiondown</key>
	<string>questiondown.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotedblbase</key>
	<string>quotedblbase.glif</string>
	<key>quotedblleft</key>
	<string>quotedblleft.glif</string>
	<key>quotedblright</key>
	<string>quotedblright.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>quotesinglbase</key>
	<string>quotesinglbase.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>r.calt</key>
	<string>r.calt.glif</string>
	<key>racute</key>
	<string>racute.glif</string>
	<key>radical</key>
	<string>radical.glif</string>
	<key>rcaron</key>
	<string>rcaron.glif</string>
	<key>rcedilla</key>
	<string>rcedilla.glif</string>
	<key>rectangleverticalblack</key>
	<string>rectangleverticalblack.glif</string>
	<key>registered</key>
	<string>registered.glif</string>
	<key>ring</key>
	<string>ring.glif</string>
	<key>ringcomb</key>
	<string>ringcomb.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>s.gilly</key>
	<string>s.gilly.glif</string>
	<key>s.maybethin</key>
	<string>s.maybethin.glif</string>
	<key>sacute</key>
	<string>sacute.glif</string>
	<key>scaron</key>
	<string>scaron.glif</string>
	<key>scedilla</key>
	<string>scedilla.glif</string>
	<key>second</key>
	<string>second.glif</string>
	<key>section</key>
	<string>section.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>seven.dnom</key>
	<string>seven.dnom.glif</string>
	<key>seven.numr</key>
	<string>seven.numr.glif</string>
	<key>seven.tabl</key>
	<string>seven.tabl.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>six.dnom</key>
	<string>six.dnom.glif</string>
	<key>six.numr</key>
	<string>six.numr.glif</string>
	<key>six.tabl</key>
	<string>six.tabl.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>sterling</key>
	<string>sterling.glif</string>
	<key>summation</key>
	<string>summation.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>tcaron</key>
	<string>tcaron.glif</string>
	<key>thorn</key>
	<string>thorn.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>three.dnom</key>
	<string>three.dnom.glif</string>
	<key>three.numr</key>
	<string>three.numr.glif</string>
	<key>three.tabl</key>
	<string>three.tabl.glif</string>
	<key>tilde</key>
	<string>tilde.glif</string>
	<key>tildecomb</key>
	<string>tildecomb.glif</string>
	<key>tildecombviet</key>
	<string>tildecombviet.glif</string>
	<key>trademark</key>
	<string>trademark.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>two.dnom</key>
	<string>two.dnom.glif</string>
	<key>two.numr</key>
	<string>two.numr.glif</string>
	<key>two.tabl</key>
	<string>two.tabl.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>uacute</key>
	<string>uacute.glif</string>
	<key>ubreve</key>
	<string>ubreve.glif</string>
	<key>ucaron</key>
	<string>ucaron.glif</string>
	<key>ucircumflex</key>
	<string>ucircumflex.glif</string>
	<key>udieresis</key>
	<string>udieresis.glif</string>
	<key>udotbelow</key>
	<string>udotbelow.glif</string>
	<key>ugrave</key>
	<string>ugrave.glif</string>
	<key>uhook</key>
	<string>uhook.glif</string>
	<key>uhorn</key>
	<string>uhorn.glif</string>
	<key>uhornacute</key>
	<string>uhornacute.glif</string>
	<key>uhorndot</key>
	<string>uhorndot.glif</string>
	<key>uhorngrave</key>
	<string>uhorngrave.glif</string>
	<key>uhornhook</key>
	<string>uhornhook.glif</string>
	<key>uhorntilde</key>
	<string>uhorntilde.glif</string>
	<key>uhungarumlaut</key>
	<string>uhungarumlaut.glif</string>
	<key>umacron</key>
	<string>umacron.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>uni2010</key>
	<string>uni2010.glif</string>
	<key>uogonek</key>
	<string>uogonek.glif</string>
	<key>uring</key>
	<string>uring.glif</string>
	<key>utilde</key>
	<string>utilde.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>y.ultra</key>
	<string>y.ultra.glif</string>
	<key>yacute</key>
	<string>yacute.glif</string>
	<key>yacute.ultra</key>
	<string>yacute.ultra.glif</string>
	<key>ydieresis</key>
	<string>ydieresis.glif</string>
	<key>ydieresis.ultra</key>
	<string>ydieresis.ultra.glif</string>
	<key>ydotbelow</key>
	<string>ydotbelow.glif</string>
	<key>ydotbelow.ultra</key>
	<string>ydotbelow.ultra.glif</string>
	<key>yen</key>
	<string>yen.glif</string>
	<key>ygrave</key>
	<string>ygrave.glif</string>
	<key>ygrave.ultra</key>
	<string>ygrave.ultra.glif</string>
	<key>yhookabove</key>
	<string>yhookabove.glif</string>
	<key>yhookabove.ultra</key>
	<string>yhookabove.ultra.glif</string>
	<key>ytilde</key>
	<string>ytilde.glif</string>
	<key>ytilde.ultra</key>
	<string>ytilde.ultra.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>zacute</key>
	<string>zacute.glif</string>
	<key>zcaron</key>
	<string>zcaron.glif</string>
	<key>zdotaccent</key>
	<string>zdotaccent.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
	<key>zero.dnom</key>
	<string>zero.dnom.glif</string>
	<key>zero.numr</key>
	<string>zero.numr.glif</string>
	<key>zero.tabl</key>
	<string>zero.tabl.glif</string>
</dict>
</plist>
