<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>C</key>
	<string>C_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>J.001</key>
	<string>J_.001.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>jdotless</key>
	<string>jdotless.glif</string>
	<key>partialdiff</key>
	<string>partialdiff.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>v</key>
	<string>v.glif</string>
</dict>
</plist>
