<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>P.RECT</key>
	<string>P_.R_E_C_T_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>_gridunit</key>
	<string>_gridunit.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>a.italic</key>
	<string>a.italic.glif</string>
	<key>acutecomb</key>
	<string>acutecomb.glif</string>
	<key>acutecombviet</key>
	<string>acutecombviet.glif</string>
	<key>arrowlefttail</key>
	<string>arrowlefttail.glif</string>
	<key>arrowup</key>
	<string>arrowup.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>cedillacomb</key>
	<string>cedillacomb.glif</string>
	<key>circumflexcomb</key>
	<string>circumflexcomb.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>eth</key>
	<string>eth.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>g.text</key>
	<string>g.text.glif</string>
	<key>germandbls</key>
	<string>germandbls.glif</string>
	<key>germandbls.alt</key>
	<string>germandbls.alt.glif</string>
	<key>gravecomb</key>
	<string>gravecomb.glif</string>
	<key>hookcomb</key>
	<string>hookcomb.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>ohorn</key>
	<string>ohorn.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>partialdiff</key>
	<string>partialdiff.glif</string>
	<key>pi</key>
	<string>pi.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>ringcomb</key>
	<string>ringcomb.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>section</key>
	<string>section.glif</string>
	<key>sterling</key>
	<string>sterling.glif</string>
	<key>tildecomb</key>
	<string>tildecomb.glif</string>
	<key>uhorn</key>
	<string>uhorn.glif</string>
	<key>w</key>
	<string>w.glif</string>
</dict>
</plist>
